*.class
*.ear*
*.iml
*.war*
.apt_generated
.classpath
.factorypath
.idea
.metadata
.project
.settings
.springBeans
.wdo-connections
RemoteSystemsTempFiles
bin
build
dist
nbproject
nb*.xml
rebel.xml
rebel-remote.xml
target
styles.scss.cache
version.txt
**/backup
**/translateit/ascii
**/translateit/asciiTMP
**/translateit/*.properties
**/src/main/webapp/META-INF/MANIFEST.MF
pom.properties
**/gwt-unitCache/**
